#p1{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  font-weight: 200;
  color: #00FA9A;
}

#p2{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #696969;
}